.main-font {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.349);
  backdrop-filter: blur(10px);
  color: white;
  width: 200vh;
  height: 90vh;
  border-radius: 15px;
}

body {
  background-image: url(https://imgs.search.brave.com/V-nnXFJQqMdsDXot5Yd1MDsNzaUTNWjsNpJpHP0lLWY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/Zm9uZGVjcmFudmlw/LmNvbS8yMDI1LzAz/LzVRdkRnRHc5LWZv/bmQtZGVjcmFuLU5v/aXItZXQtYmxhbmMt/ODAud2VicA);
  background-size: cover;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 80px;
  width: 90%;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
  /* border: 5px solid darkcyan;
    border-radius: 20px; */
}

#Index {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 253, 253, 0.9);
  border: 5px solid darkcyan;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

#photos-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 253, 253, 0.9);
  border: 5px solid darkcyan;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 248, 255);
  border: darkcyan 5px solid;
  border-radius: 15px;
  margin-top: 100px;

}

#login-inputs input,
#login-inputs button {
  background-color: #0f172a;
  color: white;
  margin: 50px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  flex-direction: column;
  display: flex;
}

